/* goGreen.css */

body {
    background-image: url('../IMAGES/Green.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
  }
  
  
  
  h1 {
    color: #2e8b57;
  }
  
  h2 {
    color: #2e8b57;
    margin-top: 20px;
  }
  
  p, ul {
    font-size: 16px;
    line-height: 1.5;
  }
  
  ul {
    margin-left: 20px;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  